.dashboard {
    // background-image: url("../../bgImgs/statistics.jpg");
    background-color: #b7bfcd6b;
    object-fit: contain;
    width: 90%;
    margin: 20px auto;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px 0px #615050;
    .dashboard-top {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        padding-top: 17px;
        height: 50px;
        .dashboard-title {
            grid-column: 2/3;
            text-align: center;
            color: black;
        }
        .close-modal-btn {
            grid-column: -2/-1;
            background-color: #f4f4f4;
            margin-left: 90px;
            cursor: pointer;
            padding: 0;
            width: 0;
        }

        .close-modal-btn > * {
            font-size: 16px;
        }
    }

    .cards-in-groups {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        width: 10%;
        gap: 15px;
        display: inline-grid;
        height: 70px;
        margin-bottom: -15%;
        margin-left: 30px;
        position: absolute;
        h3 {
            color: black;
            text-align: center;
            font-family: inherit;
            display: block;
            width: 100%;
            // position: absolute;
            margin-bottom: 8px;
        }
        .card-in-group {
            cursor: pointer;
            transition: 0.2s;
            text-align: center;
            border-radius: 2px;
            height: auto;
            width: 92%;
            color: rgba(0, 0, 0, 0.726);
            border: 1.5px solid rgba(0, 0, 0, 0);
            // border: 1.5px solid black;
            font-size: 13.5px;
            font-weight: 500;
            padding: 2px;
            margin: -3.5px auto;
        }
        .card-in-group:hover {
            color: black;
            // border: 1.5px solid rgba(0, 0, 0, 0);
            border: 1.5px solid black;
        }
    }
    .stats-modal {
        background-color: $clr6;
        width: 70%;
        height: 80vh;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0 0 5px 0px #a99494;
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 1fr 4fr;
        padding: 3px;
        h1 {
            margin-top: -20px;
        }
        .arrow {
            cursor: pointer;
            height: 2px;
            width: 5px;
            position: absolute;
            margin-top: 17%;
        }
        .arrow:hover {
            color: black;
        }
        .arrow > * {
            font-size: 80px;
        }
        .arrow-left {
            grid-column: 1/2;
        }
        .arrow-right {
            grid-column: -2/-1;
            margin-left: 57%;
        }

        .pie-section {
            grid-column: 2/3;
            margin-top: -20px;
            .pie {
                width: 60vw;
                height: 70vh;
                margin: 60px auto;
                .pie-title {
                    color: rgba(0, 0, 0, 0.726);
                    text-align: center;
                    margin-bottom: 40px;
                    margin-top: -10px;
                    font-size: 18px;
                }
            }
        }
        .bar-side {
            grid-column: 2/3;
            margin-right: 15px;
            .bar-top {
                display: grid;
                grid-template-columns: 20fr 1fr;
                margin-top: 50px;
                height: 30px;
                margin-bottom: 30px;
                h1 {
                    grid-column: 1/2;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.726);
                    margin-left: 30px;
                    margin-bottom: -10%;
                }
            }
            img {
                width: 45%;
                margin-left: 25%;
                display: inline;
            }
        }
    }
}
