
.new-board-modal{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    background-color: rgb(87, 84, 84);
    width: 400px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input{
        border: 0;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(189, 187, 185);
        font-weight: 600;
        color: whitesmoke;
        font-size: 1.1rem;
    }
    .color-picker{
        height: 100%;
        margin: 8px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        border-radius: 5px;
        .colors{
            margin-top: 10px;
            width: 50px;
            height: 50px;
            border-radius: 4px;
        }
    }
}







.board-preview{
    font-size: 1rem;
    color: whitesmoke;
    width: 150px;
    height: 80px;
    background-color: gray;
    border-radius: 5px;
    padding: 15px;
}
