.home-nav {
    background-color: #0303038a;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    .nav-btns {
        grid-column: -2/-1;
        display: flex;
    }
    h3 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
