.card-preview {
    position: relative; // can cause a problem
    margin: 5px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0px 1px 1px 0px #888888;
    border-radius: 3px;
    color: $clr2;
    padding-bottom: 5px;
    .details-container{
        padding-left: 10px;
    }
    &.small{
        padding-bottom: 0;
    }
    .card-cover{
        width: 100%;
        height: 200px;
        background-size: cover;
        &.color-bg{
        height: 20px;
        }
    }

    &:not(.edit):hover {
        opacity: 0.8;
        .edit-icon {
            .MuiSvgIcon-root {
                color: $clr1;
            }
        }
    }
    p {
        margin: 0;
        font-size: em(14px);
        line-height: 20px;
        display: flex;
        align-items: center;
    }

    textarea {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        resize: none;
        overflow: hidden;
        height: 60px;
        background-color: inherit;
        border: 0;
        position: relative;
        margin: 20px 0 1px 0;
        left: 10;
    }
    .edit-icon {
        .MuiSvgIcon-root {
            position: relative;
            padding: 5px;
            top: 5px;
            left: -5px;
            color: rgba(255, 255, 255, 0);
            font-size: 1.6em;
            border-radius: 3px;

            &:hover {
                background-color: $sec-bgc;
                color: $clr2;
            }
        }
        &.with-label {
            .MuiSvgIcon-root {
                top: -12px;
            }
        }
    }

    .small-card {
        display: flex;
        justify-content: space-between;
        padding: 0;
        // padding-top: 5px;
        // padding-bottom: 2px;
        // .MuiSvgIcon-root {
        //     top: -7px;
        //     left: 0;
        // }
    }

    .edit-and-title {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }

    .card-icons {
        justify-content: space-between;
        font-size: 0.85rem;
    }

    .card-icons-section1 {
        padding-top: 2px;
    }
    .card-icons-section1 > * {
        font-size: 1.3em;
        margin-right: 7px;
        color: $clr1;
    }

    .members-container {
        padding-right: 5px;
        gap: 3px;
        display: flex;
    }
    .MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault {
        width: 25px !important;
        height: 25px !important;
        font-size: 0.875em;
    }

    &.dragging:active {
        transform: rotate(6deg);
    }
}
// //// EDIT MODE

.edit {
    position: absolute;
    z-index: 4;

    .edit-menu {
        position: absolute;
        z-index: 8;
        left: 250px;
    }
    .card-save-btn {
        position: absolute;
        z-index: 8;
        bottom: 0;
    }
    textarea {
        padding: 5px;
        width: 220px;
    }
    .card-icons {
        align-self: flex-start;
    }
}
.edit-container {
    position: absolute !important;
    display: flex;
    z-index: 4;
    border-radius: 8px;
    text-transform: capitalize;
}
.card-preview.edit {
    padding-right: 20px;
    width: 239.8px;
    height: 129.5px;
    position: fixed; // causing problems  with the screen scroll to the right ,and fix the screen shadow
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);

    .edit-and-title {
        align-self: flex-start;
        position: relative;
        top: -18px;
    }

    .card-icons {
        justify-content: flex-start;
        gap: 8px;
        .MuiSvgIcon-root {
            font-size: 1.7em;
        }
    }
}
.edit-menu {
    position: absolute;
    left: 250px;
    z-index: 8;
    top: 0;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px;
    align-items: flex-start;

    .edit-menu-btn {
        display: inline-flex;
        font-size: 14px;
        color: #e6e6e6ef;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 3px;
        margin-bottom: 3px;
        padding: 10px 12px 8px 8px;
        width: max-content;
        transition: all 0.2s;
        &:hover {
            margin-left: 5px;
            background: rgba(0, 0, 0, 0.8);
        }
    }
    .edit-menu-icons {
        font-size: 17px;
        margin-right: 6px;
    }
    a{
        color: inherit;
    }
}

.card-save-btn {
    margin-left: 5px;
    position: absolute;
    z-index: 5;
    box-shadow: 0 0 0 0vmax rgba(0, 0, 0, 0.3);

    button {
        background-color: #5aac44;
        position: absolute;
        top: 139px;
        border-radius: 4px;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-top: 8px;
        font-weight: 400;
        height: 32px;
        width: 76px;
        text-transform: capitalize;
        font-size: 14px;
    }

}

