.card-list{
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow-y: auto;
    max-height: 61vh;
    max-height: calc(100vh - 230px);
    // max-height: 61vh;
    &.dragging{
      transform: rotate(6deg);
  }
}
.card-list::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    position: absolute;
    z-index: 0;
  }
  /* Track */
  .card-list::-webkit-scrollbar-track {
    background: rgba(9,30,66,.08);; 
    border-radius: 8px;
  }
  /* Handle */
  .card-list::-webkit-scrollbar-thumb {
    background: rgba(190, 190, 189, 0.788);
    border-radius: 8px;
    // border
    
  }

  .add.card.input.bottom{
    // transition: all 0.2s;
  }

  .add.card.input.bottom:focus{ //ask or about: add and enter get problems if i css the focus
    // outline: none;
    // // background-color: pink;
    // // background-color: inherit;
    // box-shadow: 0px 1px 1px 0px #888888;
    // border-radius: 3px;
    // padding-bottom: 45px ;
    // width: 238px;
  }