.card-action-modal {
    position: fixed;
    z-index: 1;
    left: calc(50% + 195px);
    background-color: white;
    padding: 12px;
    color: $clr1;
    hr {
        border-color: $sec-bgc;
        border-top: 0;
    }
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid $sec-bgc;
        background-color: $main-bgc;
        margin-top: 4px;
        margin-bottom: 20px;
    }
    input:hover {
        background-color: $sec-bgc;
    }
    button{
        padding: 10px 15px;
    }
    button:not(.icon) {
        width: 100%;
    }
    button.icon {
        background: transparent;
        position: absolute;
        left: 90%;
        top: 15px;
        padding: 0;
        margin: 0;
        .MuiSvgIcon-root {
            font-size: 1.2em;
            color: $clr1;
        }
    }

    //label container
    &.label-modal {
        top: 25%;
        width: 305px;
        z-index: 1;
    }
    .labels-container {
        color: white;
    }
    .labels-container>* {
        div:first-child {
            width: 100%;
            margin-bottom: 5px;
            padding: 3px;
            border-radius: 3px;
            transition: box-shadow 0.1s;
        }

        div:first-child {
            &.bgc-eb5b46:hover {
                box-shadow: -8px 0px 0px 0px #ff8d7c;
            }
            &.bgc-52e898:hover {
                box-shadow: -8px 0px 0px 0px #84febe;
            }
            &.bgc-f2d600:hover {
                box-shadow: -8px 0px 0px 0px #f5f047;
            }
            &.bgc-ff9f1a:hover {
                box-shadow: -8px 0px 0px 0px #ffc06b;
            }
            &.bgc-c377e0:hover {
                box-shadow: -8px 0px 0px 0px #ecb3ff;
            }
            &.bgc-01c2df:hover {
                box-shadow: -8px 0px 0px 0px #5deaff;
            }

        }
             .MuiSvgIcon-root {
            font-size: 2.2em;
            color: $clr1;
            padding: 8px;
            margin-left: 5px;
            border-radius: 3px;
        }
        .MuiSvgIcon-root:hover {
            background-color: $sec-bgc;
        }
    }

    //members-container

    &.member-modal {
        top:21%;

    }
    &.attachments-modal {
        top:38%;
        button:not(.icon){
            width: fit-content;
        }

    }
    .members-container div{
        margin-top: 5px;
        padding: 2px;
        color: $clr2;
        font-weight: 500;
        .MuiAvatar-root{
            color: white;
            margin-right: 5px;
        }
        span{
            margin-right: 10px;
        }

    }
    .members-container div:hover{
        background-color: $main-bgc;

    }

    &.checklist-modal{
        top: 29%;
    }

}