.card-action-modal {
    position: fixed;
    z-index: 1;
    left: calc(50% + 199px);
    width: 305px;
    background-color: white;
    border-radius: 3px;
    padding: 12px;
    color: $clr1;
    hr {
        border-color: $sec-bgc;
        border-top: 0;
    }
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid $sec-bgc;
        background-color: $main-bgc;
        margin-top: 4px;
        margin-bottom: 20px;
    }
    input:hover {
        background-color: $sec-bgc;
    }
    button{
        padding: 10px 15px;
    }
    button:not(.icon) {
        width: 100%;
    }
    button.icon {
        background: transparent;
        position: absolute;
        left: 90%;
        top: 15px;
        padding: 0;
        margin: 0;
        .MuiSvgIcon-root {
            font-size: 1.2em;
            color: $clr1;
        }
    }

    label{
        font-size: 0.8em;
        padding: 5px;
        background-color: $light-bgc;
        border: 0;
        border-radius: 3px;
        width: 25%;
        &:first-child{
            width:70%;
        }
        select{
            border: 0;
            width: 100%;
            background: transparent;
            color: $clr2;
            &:focus{
                outline: none;
            }
        }
    }

    button.green{
        background-color: $clr3;
        color: white;
        width: fit-content;
        margin-top: 10px;
    }
    
    //label container
    &.label-modal {
        top: 25%;
        z-index: 1;
    }
    .labels-container {
        color: white;
    }
    .labels-container>* {
        div:first-child {
            width: 100%;
            margin-bottom: 5px;
            padding: 3px;
            border-radius: 3px;
            transition: box-shadow 0.1s;
        }

        div:first-child {
            &.bgc-eb5b46:hover {
                box-shadow: -8px 0px 0px 0px #ff8d7c;
            }
            &.bgc-52e898:hover {
                box-shadow: -8px 0px 0px 0px #84febe;
            }
            &.bgc-f2d600:hover {
                box-shadow: -8px 0px 0px 0px #f5f047;
            }
            &.bgc-ff9f1a:hover {
                box-shadow: -8px 0px 0px 0px #ffc06b;
            }
            &.bgc-c377e0:hover {
                box-shadow: -8px 0px 0px 0px #ecb3ff;
            }
            &.bgc-01c2df:hover {
                box-shadow: -8px 0px 0px 0px #5deaff;
            }

        }
             .MuiSvgIcon-root {
            font-size: 2.2em;
            color: $clr1;
            padding: 8px;
            margin-left: 5px;
            border-radius: 3px;
        }
        .MuiSvgIcon-root:hover {
            background-color: $sec-bgc;
        }
    }

    //members-container

    &.member-modal {
        top:21%;

    }
    &.attachments-modal {
        top:38%;
        button:not(.icon){
            width: fit-content;
        }

    }
    .members-container div{
        margin-top: 5px;
        padding: 2px;
        color: $clr2;
        font-weight: 500;
        .MuiAvatar-root{
            color: white;
            margin-right: 5px;
        }
        span{
            margin-right: 10px;
        }

    }
    .members-container div:hover{
        background-color: $main-bgc;

    }

    &.checklist-modal{
        top: 29%;
    }
    //due-date
    &.due-date-modal{
        top: 34%;
        button{
            width: fit-content;
            padding: 0px;
        }
        .due-date-bouttons{
            button{
                padding: 10px;
                margin: 0;
                min-width: 80px;
                color: white;
                background-color: #cf513d;
                &:hover{
                    background-color: #eb5a46;
                }
            }
            :first-child{
                background-color: $clr3;
                &:hover{
                    background-color: $clr4;
                }
            }
        }
        .react-datepicker__header {
            background-color: $main-bgc;
            border: 0;
        }
        .react-datepicker{
            border: 0;
        }
        select{
            border: 0;
            background: transparent;
        }
    }

    //cover-modal 
    &.cover-modal{
        top: 43%;
        .color-box{
            height: 40px;
            width: 60px;
            margin-right: 5px;
            margin-top: 10px;
            border-radius: 5px;
        }
        .cover-style-btns{
            button{
                padding: 0;
                margin: 0;
                background: transparent;
                &.selected{
                    box-shadow: 0px 0px 3px $clr1;
                }
            }
            .MuiSvgIcon-root{
                font-size: 100px;
                background-color: white;
                color: #cfd3da;
                margin: 0;
            }
            .upside{
                .MuiSvgIcon-root{
                    transform: rotate(180deg);
                }

            }
        }
    }

    &.move-card-modal{
        top: 51%;
    }
    &.copy-card-modal{
        top: 55%;
    }

    &.share-modal{
        top: 64%;
    }
}
