.group-menu {
    cursor: pointer;
    text-transform: capitalize;
    padding: 8px 2px;
    font-size: 14px;
    width: 300px;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    top: 36px;
    // top: 126px;
    left: 216px;
    z-index: 10;
    .group-menu-header {
        text-align: center;
    }
    // .group-menu:not(hr){
    // >* {             not working
    // padding: 10px;
    // }
    // }
    .first-section {
        display: flex;
        flex-direction: column;
        > * {
            padding: 6px 12px;
        }
    }
    .item {
        padding: 6px 12px;
        &:hover {
            //rgba(9,30,66,.04)
            background-color: rgba(9, 30, 66, 0.13);
        }
    }
    > * {
        :hover {
            // background-color: rgba(9, 30, 66, 0.13);
        }
    }
}

.group-menu.sort {
    height: 155px;
    padding: 5px;
    .modal-header {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        span > * {
            font-size: 14px;
        }
    }
    
    .sort-options{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;//not working??!!!!
        gap: 10px;
        }
    
}
