.group-preview {
    .group-title-input{
        color:#172b4d;
        font-size: 14px;
        margin-left: 0px;

    }
    .hidden-actions-form-container {
        input {
            line-height: 20px;
        }
        .hidden-actions {
            margin-left: 13px;
        }
    }
    border-radius: 3px;
    background-color: $sec-bgc;
    margin: 0px 4px  4px;
    input {
        background-color: inherit;
        border: 0;
        margin-left: 2px;
    }
    padding: 5px 3px 8px 3px;
    cursor: pointer;
    height: fit-content;
    position: relative;
    .group-title {
        background-color: inherit;
        border: 0;
        padding: 10px;
    }

    .label-container {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        .label {
            margin-right: 8px;
            margin-top: 5px;
            border-radius: 4px;
            transition: width 0.2s, height 0.4s;
        }
        .is-close {
            width: 35px;
            height: 7px;
        }
        .is-open {
            width: 65px;
            height: 20px;
            padding: 0px 5px;
            overflow: hidden;
            font-size: 0.75rem;
        }
    }

    .group-menu-btn {
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 0;
        font-weight: 600;
    }

    &.dragging{
        background-color: rgba(207, 205, 205, 0.877);
    }

}
