.card-todo-preview{
    padding: 10px 0;

    .hidden-actions-form-container{
        width: 95%;
    }
    input[type="checkbox"]{
        margin-top: 0.5em;
    }
}

.card-todo-preview:hover:not(.add){
    background:$sec-bgc;
    button.icon{
        background-color: $sec-bgc;
    }
    button.icon>*{
        background-color: $sec-bgc;
    }
    
}

.checklist-container{
    
    div.MuiLinearProgress-colorPrimary{
        margin-left: 5px;
        background-color: $sec-bgc;
        padding: 4px;
        border-radius: 2em;
    }
    div.MuiLinearProgress-barColorPrimary{
        background-color: $clr4;
    }

}