// Colors
$clr1: #5e6c84;
$clr2: #172b4d;
$clr3: #5aac44;
$clr4: #61bd4f;
$main-bgc: #f3f5f7;
$sec-bgc: #e1e4e9;
$light-bgc: #eaecf0;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #bdc0c2;
$clr8: #f4f5f7;
$clr10: #e2e2e2;
$clr11: #c9c9c9;
$clr12: #0079bf;
$clr13: #091e42;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
