// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #bdc0c2;
$clr8: #f4f5f7;
$clr9: #172b4d;
$clr10: #e2e2e2;
$clr11: #c9c9c9;
$clr12: #0079bf;
$clr13: #5aac44;
$clr14: #61bd4f;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
