// Colors
$clr1: #5e6c84;
$clr2: #172b4d;
$clr3: #5aac44;
$clr4: #61bd4f;
$main-bgc: #f3f5f7;
$sec-bgc: #e1e4e9;
$light-bgc:#eaecf0;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #bdc0c2;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
