.menu {
    position: fixed;
    top: 2px;
    right: 0;
    height: 97%;
    width: 340px;
    z-index: 1;
    background-color: $main-bgc;
    text-align: center;
    padding-bottom: 20px;
    justify-content: flex-start;
    transition: all 0.4s ease;
    transform: translateX(100%);
    box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    margin-top: 38px;
    &.open {
        transform: translateX(0);
    }

    .menu-btn:hover {
        background-color: rgba(0, 0, 0, 0.16);
    }

    .menu-top {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        align-items: flex-end;

        h3 {
            grid-column: 2/3;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            margin-left: 10px;
            margin-bottom: 4px;
            color: $clr2;
        }
    }
    .close-menu-btn {
        grid-column: -1/-2;
        background-color: $clr8;
        font-size: large;
        font-weight: 500;
        margin-bottom: -4px;
    }
    .close-menu-btn:hover {
        background-color: $clr8;
    }
    .close-menu-btn:focus {
        outline: none;
    }

    .back-menu-btn {
        grid-column: 1/2;
        padding: 0;
        background-color: $clr8;
        margin-bottom: 1px;
        margin-left: 15px;
    }
    .back-menu-btn:focus {
        outline: none;
    }

    .menu button {
        cursor: pointer;
        transition: 0.1s;
    }

    .hr-menu {
        background-color: rgba(9, 30, 66, 0.13);
        border: 0;
        height: 1px;
        padding: 0;
        width: 95%;
    }
    .menu-options {
        margin-left: 10px;
        margin-top: 16px;
        
        .top-option {
            padding-top: 9px;
        }
    }
    .menu-option {
        background-color: transparent;
        border-radius: 3px;
        display: flex;
        padding: 2px;
        margin-bottom: 0;
        margin-top: 0;
        color: #153976;
        overflow-y: overlay;
        padding-left: 20px;
        transition: 0;
    }
    .menu-option:hover {
        background-color: $clr10;
    }
    .menu-option:focus {
        outline: none;
    }
    .about-all-desc {
        margin-bottom: 10px;
    }
    .about-this-board {
        margin-right: 70px;
    }
    .about-desc,
    .option-title {
        margin-left: 20px;
        font-size: 14px;
        margin-top: 6px;
    }

    .butler-icon {
        margin-right: 26px;
    }
    .powerups-icon {
        margin-right: 20px;
    }
    .butler-div,
    .powerups-div {
        text-align: left;
    }
    .view-all-activities-span {
        text-decoration: underline;
        border-radius: 3px;
        color: #5e6c84;
        padding: 16px 8px 16px 40px;
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        width: 97%;
        text-align: start;
    }
    .view-all-activities-span:hover {
        background-color: rgba(9, 30, 66, 0.08);
        color: #091e42;
    }
}
