.photo-type {
    .img-title {
        height: 20px;
        margin-bottom: 20px;
        display: fixed;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0 0 2px 2px;
        box-sizing: border-box;
        color: #dfe1e6;
        font-size: 12px;
        opacity: 0;
        position: absolute;
        margin-right: 120px;
        height: 20px;
        width: 100%;
        padding: 2px 4px;
        z-index: 1;
        text-align: left;
    }
    .search-photo {
        outline: none;
        border: none;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
            sans-serif;
        font-size: 14px;
        color: #172b4d;
        font-weight: 400;
        padding: 8px 12px;
        width: 89%;
        background-color: #fff;
        border-radius: 3px;
        margin-left: 14px;
        position: fixed;
        margin-top: -30px;
        input {
            padding-left: 32px;
            border: none;
            background-color: $clr6;
        }
        input:focus {
            outline: none;
        }
    }
    .search-photo:focus {
        box-shadow: inset 0 0 0 1.5px $clr12;
    }
    .photos-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 30px 10px 23px 30px;
        .photos {
            margin-right: 5px;
        }
    }
    .bgImg img {
        cursor: pointer;
        height: 12vh;
        border-radius: 10px;
        box-shadow: 1px -1px 6px 0px black;
        object-fit: cover;
        transition: 0.2s;
    }
    .go-back {
        cursor: pointer;
        color: $clr2;
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
            sans-serif;
    }
    .go-back:hover {
        text-decoration: underline;
    }
}
