.background-section {
    color: $clr2;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 2px 13px 0px 0px;
    button {
        background-color: $clr8;
    }
    button:focus {
        outline: none;
    }
    .photos-colors {
        margin-left: 15px;
        margin-top: 15px;

        .img-select {
            background-size: cover;
            border-radius: 8px;
            height: 96px;
            margin-bottom: 8px;
            width: 110%;
            object-fit: cover;
            margin-left: -5px;
        }
        .img-select:hover {
            opacity: 0.2;
            background-color: #dfe1e6;
        }

        .select-img-title {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                Helvetica Neue, sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
    }
}
